<form #userForm="ngForm" (ngSubmit)="submitForm(userForm)">
  <div class="form-group">
    <label for="username">Username :</label>
    <input type="text" class="form-control" id="username" name="username" [(ngModel)]="userData.username" required
      minlength="3" maxlength="20" pattern="[a-zA-Z]+">
    <div *ngIf="userForm.submitted && userForm.controls['username'].invalid">
      <div *ngIf="userForm.controls['username'].errors?.['required']" class="color">Username is required</div>
      <div *ngIf="userForm.controls['username'].errors?.['minlength']" class="color">Username must be at least 3
        characters</div>
      <div *ngIf="userForm.controls['username'].errors?.['maxlength']" class="color">Username cannot exceed 20
        characters</div>
      <div *ngIf="userForm.controls['username'].errors?.['pattern']" class="color">Username must contain only alphabetic
        characters</div>
    </div>
  </div>

  <div class="form-group">
    <label for="email">Email :</label>
    <input type="email" class="form-control" id="email" name="email" [(ngModel)]="userData.email" required>
    <div *ngIf="userForm.submitted && userForm.controls['email'].invalid">
      <div *ngIf="userForm.controls['email'].errors?.['required']" class="color">Email is required</div>
      <div *ngIf="userForm.controls['email'].errors?.['email']" class="color">Invalid email</div>
    </div>
  </div>

  <div class="form-group">
    <label for="address">Address :</label>
    <textarea id="address" class="form-control" name="address" [(ngModel)]="userData.address" required></textarea>
    <div *ngIf="userForm.submitted && userForm.controls['address'].invalid">
      <div *ngIf="userForm.controls['address'].errors?.['required']" class="color">Address is required</div>
    </div>
  </div>

  <div class="form-group">
    <label for="dob">Date of Birth :</label>
    <input type="date" class="form-control" id="dob" name="dob" [(ngModel)]="userData.dob" required>
    <div *ngIf="userForm.submitted && userForm.controls['dob'].invalid">
      <div *ngIf="userForm.controls['dob'].errors?.['required']" class="color">Date of Birth is required</div>
    </div>
  </div>

  <div class="form-group">
    <label for="password">Password :</label>
    <input type="password" class="form-control" id="password" name="password" [(ngModel)]="userData.password" required
      minlength="6" maxlength="20" pattern="^(?=.*[a-zA-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]+$">
    <div *ngIf="userForm.submitted && userForm.controls['password'].invalid">
      <div *ngIf="userForm.controls['password'].errors?.['required']" class="color">Password is required</div>
      <div *ngIf="userForm.controls['password'].errors?.['minlength']" class="color">Password must be at least 6
        characters</div>
      <div *ngIf="userForm.controls['password'].errors?.['maxlength']" class="color">Password cannot exceed 20
        characters</div>
      <div *ngIf="userForm.controls['password'].errors?.['pattern']" class="color">Password must contain a combination
        of alphabets, numbers, and special characters.</div>
    </div>
  </div>

  <div class="form-group">
    <label for="phone">Phone Number :</label>
    <input type="tel" class="form-control" id="phone" name="phone" [(ngModel)]="userData.phone" required minlength="10"
      maxlength="15" pattern="[0-9]+">
    <div *ngIf="userForm.submitted && userForm.controls['phone'].invalid">
      <div *ngIf="userForm.controls['phone'].errors?.['required']" class="color">Phone Number is required</div>
      <div *ngIf="userForm.controls['phone'].errors?.['minlength']" class="color">Phone Number must be at least 10
        digits</div>
      <div *ngIf="userForm.controls['phone'].errors?.['maxlength']" class="color">Phone Number cannot exceed 15 digits
      </div>
    </div>
  </div>

  <button type="submit" class="btn btn-outline-primary btn-lg col-4">Save</button>
</form>


<router-outlet></router-outlet>